$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$fontfamily: MHeiHK-Medium, SimHei, sans-serif;

html, body, div {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  font-family: $fontfamily;
}

.row {
  // This is to fix bootstrap margin-left: -15 problem
  // That will cause the layout to be asymmetric
  margin-left: 0;
  margin-right: 0;
}

.footer {
  background-color: rgb(141,207,207);
  padding-bottom: 0.5em;
  .social {
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
    a :hover {
      background-color: #014441;
    }
    margin-bottom: 1em;
  }
  .info-initiumlab {
    text-align: center;
    margin-bottom: 1em;
  }
  .info-initiummedia {
    text-align: center;
    margin-bottom: 1em;
  }
}

h1 {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background-color: #870A3D;
  color: white;
  font-size: 1.3em;
  font-family: $fontfamily;
  border-radius: 3px;
  text-align: center;
}

.bar {
  fill: white;

  &:hover {
    fill: #014441;
  }

  &.highlight {
    fill: #eb0f6b;
  }

  border-radius: 3px;
}

.text {
  &.highlight {
    fill: red;
  }
}

.figure-title {
  color: #014441;
  text-anchor: end;
  max-width: 7em;
  border-bottom: solid 1px #014441;
}


.answer {
  // The outer block.
  // You can make some spacing by padding here.
  .answer-inner {
    font-size: 1em;
    font-family: $fontfamily;
    color: #014441;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.5em;
    background: rgb(141,207,207);
    border-radius: 4px;
    .message {
      .message-front {
        display: inline;
        color: #014441;
      }
      .message-number {
        font-size: 1.5em;
        display: inline;
        color: #eb0f6b;
      }
      .message-back {
        display: inline;
        color: #014441;
      }
    }
    .description {
      font-size: 0.8em;
    }
  }
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


.container {
  @media all and (max-width: 500px){
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  @media all and (min-width: 500px){
    max-width: 500px;
  }
}

#salary-slider {
  margin-bottom: 1em;
  input{
    margin-top: 1em;
    background-color: #5B6D6A;
    width: 100%;
    border-radius: 3px;
    -webkit-appearance: none;
    border: none;
    height: 5px;
  }
}





/*//////////////qiufeng////////////////*/



body {
    background-color: rgb(112, 187, 190);
}

/*
  color: white;
  width: 20%;
  height: 20px;
  max-width: 100px;
  font-weight: normal;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  border-radius: 3px;
  */
.question {
}

.label {
  font-size: 14px;
  background-color: #014441;
  padding: 2px 20px;
  border-radius: 4px;
  width: 40%;
}

.form-control {
  display: inline-block;
  height: 22px;
  width: 50%;
}

select.form-control {
  padding: 0;
  font-size: 0.9em;
}

input.form-control {
  padding: 0;
  font-size: 0.9em;
}

input {
  width: 50%;
}

div .icon {
margin-left: -30px;
}

.icon  {
  position: relative;
  img {
    //NOTE: Keep this
    //      Please adjust icon position via the outside "div.icon" element
    position: absolute;
    top: 0;
    left: 0;
  }
}

.icon img {
  width:110px;
}

.text.highlight {
    color: #eb0f6b;
}

.form-group {
  //max-width: 500px;
  margin-bottom: 0.2em;
}

.chart {
  max-width: 100%;
}

.share {
  display: inline-block;
  background-color: #348c83;
  width: 150px;
  height: 40px;
  color: white;
  padding: 8px;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 10px;
}


.share img {
  width: 24px;
  height: 24px;
  float: right;
}

/* Andy */
div.ng-scope {
  position: relative;
}

#divWechatShare {
  background-color: #EEE;
  color: #EEE;
  border: 2px solid black;
  border-radius: 2px;
  width: 10em;
}



