$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.footer {
  margin-top: 2em;
  padding: 0.5em;
  border-top: 1px dashed grey;
}

/* D3 */

.bar {
  fill: steelblue;

  &:hover {
    fill: brown;
  }

  &.highlight {
    fill: red;
  }
}

.text {
  &.highlight {
    fill: red;
  }
}


.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

