$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.footer {
  margin-top: 2em;
  padding: 0.5em;
  border-top: 1px dashed grey;
}

/* D3 */

.bar {
  fill: white;

  &:hover {
    fill: brown;
  }

  &.highlight {
    fill: #eb0f6b;
  }
}

.text {
  &.highlight {
    fill: red;
  }
}

.message-front {
  display: inline;
  padding: 5px 0 5px 0;
  margin: 5px 0 20px 0;
  color: #014441;
}

.message-number {
  font-size: 30px;
  display: inline;
  padding: 5px 0 5px 0;
  margin: 5px 0 20px 0;
  color: #eb0f6b;
}

.message-back {
  display: inline;
  padding: 5px 0 5px 0;
  margin: 5px 0 20px 0;
  color: #014441;
}

.answer {
  padding-left: 0px;
  margin-top: -20px;
  height: 100px;
  font-size: 14px;
  font-family: MHeiHK-Bold;
  color: #014441;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}





/*//////////////qiufeng////////////////*/



body {
    background-color: #86d0ce;
}


label {
  color: white;
  width: 20%;
  height: 20px;
  max-width: 100px;
  font-weight: normal;
  background-color: #014441;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  border-radius: 3px;
}

select {
  height: 20px;
  width: 78%;
}

input {
  width: 78%;
}

.icon  {
  position: relative;
  width: 130px;
  float: right;
  margin-right: 0px;
  margin-top: -40px;
  margin-bottom: -35px;
  img {
    //NOTE: Keep this
    //      Please adjust icon position via the outside "div.icon" element
    position: absolute;
    top: 0;
    left: 0;
  }
}

.icon img {
  width:110px;
}

.text.highlight {
    color: #eb0f6b;
}

.form-group {
  max-width: 500px;
}

.answer {
  max-width: 500px;
}

.chart {
  max-width: 500px;
}

.share {
  display: inline-block;
  background-color: #348c83;
  width: 150px;
  height: 40px;
  color: white;
  padding: 8px;
  border-radius: 3px;
  margin-right: 10px;
  margin-top: 10px;
}

.social .weibo a :hover {
  background-color: black;
}

.share img {
  width: 24px;
  height: 24px;
  float: right;
}





